<div class="col-md-8">
	<form ng-submit="newUserSubmit()" ng-hide="newUserConf.success">
		<div class="form-group">
			<label class="control-label">Username</label>
			<input type="text" ng-model="newUser.username" class="form-control" required />
		</div>
		<div class="form-group-inline">
			<label class="control-label">First Name</label>
			<input type="text" ng-model="newUser.first_name" class="form-control" required />
			<label class="control-label">Last Name</label>
			<input type="text" ng-model="newUser.last_name" class="form-control" required />
		</div>
		<div class="form-group">
			<label class="control-label">Email</label>
			<input type="text" ng-model="newUser.email" class="form-control" required />
		</div>
		<div class="form-group">
			<label class="control-label">Password</label>
			<input type="password" ng-model="newUser.password" class="form-control" required />
			<label class="control-label">Password Confirm</label>
			<input type="password" ng-model="newUser.passwordConf" class="form-control" required />
		</div>
		<input type="submit" value="Register" class="btn btn-primary" />
	</form>
	<p ng-show="newUserConf.success">
		<strong>
			Welcome {{newUserConf.first_name}}!
		</strong>
	</p>
</div>
<div class="col-md-4">
	Welcome Message...
	Sign up using the form on the left
</div>